[2016-09-15 16:54] axfelix opened #1 "Ensure that XML that is sent to OJS3 is being associated with Lens Viewer"
I'm not sure that the XML returned by the service currently is being directly associated with Lens Viewer to open it -- @asmecher, what needs to be done to ensure that happens?

[2016-09-15 23:42] asmecher commented on #1
Currently, the Lens plugin just needs to be enabled, and the MIME type of the galley file needs to be `application/xml`.

[2016-09-15 23:54] axfelix commented on #1
Got it. Are we enabling Lens out of the box? Why not if not?

[2016-09-16 00:13] asmecher commented on #1
Yes, for new installs.

[2016-09-16 00:21] axfelix commented on #1
OK, perfect. Closing this, thanks!

[2016-09-16 00:21] #1 closed

[2016-09-16 00:27] axfelix commented on #1
Actually -- can we catch text/xml too? I seem to remember hitting that on some servers in the past without much/any reason for why it would be different from application/xml.

[2016-09-17 14:06] asmecher commented on #1
Added `text/xml`.

[2016-09-21 22:18] axfelix opened #2 "Add "edit document" interface hooks to current OJS3 workflow"
This will be blocked by a couple of significantly more complicated issues around figuring out how best to use Substance editor endpoints in the context of our current API -- will link to those after they're created. As far as interface hooks in OJS3, though, I think something like this needs to happen:

When the OTS plugin is enabled, add "edit with Substance" links to all stages of document workf

[2016-09-21 22:19] axfelix commented on #2
n.b. if I'm using "Substance" and "Texture" interchangeably it's because the current branch being developed for PKP/Erudit/Scielo is called "Texture" though I'm still accustomed to referring to the Substance editor framework as a whole: https://github.com/substance/texture

Sorry about that.

[2016-09-21 23:07] axfelix commented on #2
https://github.com/pkp/xmlps/issues/84

[2016-12-09 22:39] axfelix opened #3 "Obscuring API token input is misleading"
Because API tokens are encoded into URLs, obscuring input in the plugin settings makes them more "secret" than they really are -- it's probably fine to remove the masking.

[2016-12-09 22:40] axfelix opened #4 "User-specific plugin settings should be moved to the new API tab"
Rather than adding their own settings tab to user preferences menu, Markup plugin settings should be added to the new API tab in upcoming releases of OJS 3.

[2016-12-09 22:42] axfelix opened #5 "Plugin settings should include the ability to restrict convert/edit functionality to only some grids"
"Convert to XML" and "Edit in Substance" links should be able to be restricted to only certain grids (e.g., only review, or only production, or some combination). This can be implemented through a series of check boxes, similar to the current selector for output formats in plugin settings.

[2016-12-09 22:42] axfelix opened #6 "Fix mimetype matching for .doc files"
Right now, "Convert to XML" actions only seem to be appearing for .docx and .pdf documents in OJS; they should appear for .doc files as well.

[2016-12-09 22:49] axfelix opened #7 "Revisit "save" behaviour in Substance"
Right now, changes made in Substance are not persisted when dismissing a browser window, unlike Google docs; it's necessary to click the Save button in the interface.

Clicking the save button _does not_ register a new version of the document in OJS, unlike the typical OJS behaviour, where all revisions are retained separately.

Ideally, we'd want to change both of these things to provide familiar

[2016-12-09 22:54] axfelix opened #8 "Make the "generate galleys for publication" interaction more distinct from the "convert to XML [for editing]" interaction"
Right now, the original plugin interaction of submitting a job to the stack only at publication time to populate XML/PDF/ePub galleys has not been looked at for a while, and needs to be better separated from conversion for editing purposes.

[2017-01-18 22:07] axfelix opened #9 "There's a fifth, "internal review" stage listed in plugin config, missing locale keys"
On the plugin config page, there's a fifth stage listed in addition to the usual Submission/Review/etc, and it currently comes through as:

` ##workflow.review.internalReview##`

I'm assuming this is anticipating an upstream change where such a stage will be added to OJS 3.1, but it probably should be hidden for versions where that locale key is missing.

[2017-01-19 04:24] kaschioudi commented on #9
These are all the stages in OJS core. That specific stage refers to "Internal Review" and from I was told that it's used by OMP. The label is not displaying probably because I am not loading some locale file. I will look into it.

[2017-01-20 06:12] axfelix opened #11 "Plugin settings menu does not register itself consistently"
On a beater OJS3 instance in which I've tried installing and removing the plugin a few times, I can't always get the new plugin settings menu to appear on the top bar.

[2017-02-02 18:25] axfelix commented on #5
Fixed & closing!

[2017-02-02 18:25] #5 closed

[2017-02-02 18:26] axfelix commented on #3
Fixed & closing!

[2017-02-02 18:26] #3 closed

[2017-02-02 18:26] axfelix commented on #11
Also, I seem to be having trouble with some DB tables not being generated correctly on some instances:

`[Thu Feb 02 10:07:47.228025 2017] [:error] [pid 6958] [client 71.7.135.56:50737] ojs2: DB Error: Table 'ojs-plugin-qa.markup_jobinfos' doesn't exist, referer: http://lib-garnett.lib.sfu.ca/ojs-plugin-qa/index.php/testing/workflow/index/2/3[Thu Feb 02 10:09:09.101306 2017] [:error] [pid 6958] [c

[2017-02-02 18:27] axfelix commented on #6
Fixed & closing!

[2017-02-02 18:27] #6 closed

[2017-02-02 18:27] axfelix commented on #2
This has largely been implemented and may still have UX changes but can be closed for now.

[2017-02-02 18:27] #2 closed

[2017-02-02 18:28] jmacgreg commented on #11
How did you install the plugin?

[2017-02-02 18:29] axfelix commented on #11
Cloning it into the plugins directory before running the OJS installer on a new instance

[2017-02-02 18:30] jmacgreg commented on #11
That should do it. I just tried dis/re-enabling it on the plugins page, that may make a difference. Do those tables exist now? Is there a schema in the plugin to create them?

[2017-02-02 18:31] axfelix commented on #11
https://github.com/kaschioudi/ojs3-markup/blob/master/schema.xml

Still not generated on this server, though.

[2017-02-02 19:47] jmacgreg commented on #11
Yep, a few local attempts at installing results in that table not being present.

installation steps:
`git clone https://github.com/kaschioudi/ojs3-markup plugins/generic/markup`
`php tools/upgrade.php upgrade // to install the plugin`
I then enabled the plugin via the GUI. I have access to the "OTS Settings" tab, but the table `markup_jobinfos` is not in my database.

[2017-02-02 21:13] kaschioudi commented on #11
I believe schema.xml gets executed only on plugin installation or system installation with the plugin in the right directory. Otherwise you need to run the following command: `php tools/dbXMLtoSQL.php -schema execute path/to/schema.xml`

[2017-02-03 18:18] asmecher commented on #11
The plugin needs to implement `getInstallSchemaFile` -- see https://github.com/pkp/staticPages/blob/master/StaticPagesPlugin.inc.php#L191 for example. That'll cause it to create the tables on install/upgrade.

[2017-02-03 18:24] axfelix commented on #11
Thanks, @asmecher !

Should be handled by https://github.com/kaschioudi/ojs3-markup/pull/12.

[2017-02-08 22:43] #11 closed

[2017-02-08 22:44] axfelix commented on #9
This is still outstanding in 3.0.1, haven't tested in 3.0.2.

[2017-02-08 22:44] axfelix commented on #8
Fixed, but leaving this open pending future UX feedback.

[2017-02-08 22:44] #4 closed

[2017-02-08 22:47] axfelix opened #13 "No garbage collection of markup_jobs table"
Right now, markup_jobs table will grow indefinitely as more jobs are submitted to the plugin. This isn't a _huge_ scaling issue, but may become one in the future.

For now, we should implement a hook that removes rows associated with deleted submissions via the OJS acron plugin so we have something in place, and we can look at other ways of periodic cleanup later.

[2017-02-10 22:47] axfelix commented on #7
@kaschioudi more pressing issue -- save behaviour in Substance appears to be broken in the current build; we need to define an XML store for it to use: https://github.com/substance/texture/issues/124#issuecomment-279066801

[2017-02-10 22:51] axfelix opened #14 "Populate grids with document returned from OTS without needing full page refresh"
UX testing with @jmacgreg confirmed that this is worth fixing -- we need to get a better understanding of OJS3's js implementation so that full page refreshes aren't required to see new documents returned from the stack. This can also affect launching Texture without a full refresh.

[2017-02-15 14:01] jmacgreg opened #15 "Unable to fetch citation styles"
After installing the plugin locally, I can get to the OTS Settings tab, but get a popup warning "Unable to fetch citation styles". The citation styles dropdown is subsequently unpopulated, and given that it's a required selection to save the page settings, I can't save.

I am not sure if this is a problem with trying to run the application on my local laptop rather than an actual web server or not

[2017-02-15 14:02] jmacgreg commented on #15
NB: PHP curl support has been enabled.

[2017-02-15 14:55] jmacgreg opened #16 "Consider removing OTS demo server link info"
The OTS settings page currently includes a link to the demo server (http://xml-demo.lib.sfu.ca/) in the following text:

... and it also auto-populates the Open Typesetting Stack URL parameter with the same URL. That URL doesn't appear to actually work/be active.

I'd suggest removing the above sentence entirely, as well as the auto-suggestion. The plugin can work with any OTS stack out there, and

[2017-02-15 17:53] jmacgreg opened #17 ""Review" checkbox item text on settings page is broken"
Fix coming shortly.

[2017-02-15 18:11] jmacgreg commented on #16
I'll have some generally overhauled text for this shortly.

[2017-02-16 00:56] kaschioudi commented on #17
Hi @jmacgreg ,

Witht his fix, we will end up with "manager.publication.reviewStage" twice.

If I remember correctly, Alec told me that "workflow.review.internalReview" is actually used by OMP only. Should we just remove that stage?

[2017-02-16 02:15] axfelix commented on #15
Somebody else reported this and I haven't been able to duplicate. I'll try again tomorrow.

[2017-02-16 02:15] axfelix commented on #15
I think that's done in js so it would be in the browser console rather than the apache logs... any chance you're seeing something illuminating?

[2017-02-16 02:49] kaschioudi commented on #16
the link to OTS demo server is http://pkp-xml-demo.lib.sfu.ca/

[2017-02-16 03:23] kaschioudi commented on #15
I just tried and I can't reproduce on my macbook.

What's your local stack (Wamp, Mamp, easyphp, etc)?

[2017-02-16 13:34] jmacgreg commented on #15
Argh - this was due to Privacy Badger blocking external content. Apologies for the time waster!

[2017-02-16 13:34] #15 closed

[2017-02-16 13:35] jmacgreg commented on #17
Ah, good catch - I didn't see the other review stage. And yep, for the OJS plugin just go with external review.

[2017-02-19 22:00] kaschioudi commented on #8
@axfelix : I was unable to reproduce the issue you reported on Feb 17th regarding galey files generation. I tried with the latest version of the plugin and it's working fine. Could you please provide more information or send me a zip of your plugin folder so that I can try to reproduce the issue. Thanks.

[2017-02-19 22:13] kaschioudi commented on #17
cf: https://github.com/kaschioudi/ojs3-markup/issues/9

[2017-02-19 22:13] #17 closed

[2017-02-19 22:28] kaschioudi commented on #14
Once the job is completed, the grid will reload after 5 seconds pause. Note that we need to wait few seconds to let backend download job archive and extract the xml document. But this is transparent to the user because the job status is only updated after the pause.
@axfelix : is that good enough or we should refresh the grid on modal close? (I believe refreshing the grid on modal close will be tr

[2017-02-22 06:23] axfelix commented on #8
I'm on vacation this wk but left @jmacgreg information to kick off the external testing pending this issue while I'm gone -- if he also can't reproduce then I won't worry about it.

[2017-03-02 19:52] axfelix commented on #14
This is fine -- I didn't realize that the grid would reload after 5 seconds. Is the 5 second timeout currently specified manually, i.e., could we make it 1-2 seconds? That's just as effective as implementing the on-close behaviour, I think, if it's less difficult to implement.

[2017-03-03 00:09] axfelix commented on #8
OK, back from vacation -- @kaschioudi, can you log in to http://lib-garnett.lib.sfu.ca/ojs-plugin-alpha-1 with the credentials I'm sending via Slack right now, and tell me if I'm not seeing the galley generation link under the production tab of the active submission because of a mistake I made, or if I've actually triggered a bug?

[2017-03-03 15:26] kaschioudi commented on #8
welcome back @axfelix. galley generation link appears for doc, docx and pdf. Should we include xml files as well?

[2017-03-03 15:39] axfelix commented on #8
Aha! That was it, then. Yeah, let's add XML too. Sorry for the confusion.

[2017-03-04 09:31] Vitaliy-1 opened #19 "Moving XML from "Production Ready Files" to "Galleys""
Greetings,

I have tested the plugin, and definitely can say, that there is a need to add option for moving edited JATS XML from Production Ready filles to Galleys.
If we edit XML in all stages, it is necessary to use this edited file as galley.

Thanks for really great work!

[2017-03-06 19:53] pilasou opened #20 "PDF conversion to XML is not working."
I am unable to convert a PDF file in XML using the OJS/OTS plugin (with an MS Word file, everything went well, I get an XML and can open it in Texture).

The PDF consist of a few text pages with figures and tables. It is converted from Word (see PDF attached).
[Sed congue, ipsum nec pellentesque laoreet.pdf](https://github.com/kaschioudi/ojs3-markup/files/822302/Sed.congue.ipsum.nec.pellentesque.l

[2017-03-06 20:30] pilasou opened #21 "The "Insert" button in the top bar only offer a "Cross reference" option."
The insert button was introduced as a feature to add a JATS element that is not yet implemented in the WYSIWYG Texture. However, it only offer a Cross reference option (see image attached
![texture_insert](https://cloud.githubusercontent.com/assets/19291880/23628250/be6c77aa-0281-11e7-9589-7f561bd58019.PNG)
).
Thanks.
pierre

[2017-03-06 23:48] kaschioudi commented on #20
Hi @pilasou! the failure is not related to this plugin. I tried to convert the file directly on OTS and it also fails. The failure happens at XMP stage. It looks like the system is unable to parse metadata from xml document.

@axfelix any hint?

[2017-03-07 01:02] axfelix commented on #20
Failing at the XMP stage is pretty unusual, since that's merging our extracted metadata with our generated PDF -- i.e., nothing too exotic by that point, and nothing we don't have control over. I suspect that exiftool is choking on special characters in the metadata extracted from the document...

Thanks for reporting this failure case, @pilasou! I think we'll probably just have to sanitize what w

[2017-03-07 01:08] axfelix commented on #20
@kaschioudi the metadata.json that gets created when the OJS plugin makes a submission to OTS with known-good metadata as an additional POST parameter should be 100% UTF8-friendly, right?

[metadata.json.txt](https://github.com/kaschioudi/ojs3-markup/files/823037/metadata.json.txt)
[document_from_pdf.xml.txt](https://github.com/kaschioudi/ojs3-markup/files/823036/document_from_pdf.xml.txt)
[docume

[2017-03-08 21:49] axfelix commented on #19
Hi Vitaliy,

Thanks for your feedback! Currently, it should be possible to move XML from a prior stage of the workflow to the Production Ready stage, and then, when you generate galleys from the Production Ready XML using the plugin, the XML should be one of the galleys "generated" (along with, optionally, ePub and PDF). It might be a bit unintuitive currently since that XML file isn't actually be

[2017-03-08 21:51] axfelix commented on #20
Looking into this further -- it seems like our option to merge in known-good metadata from OJS as an additional parameter posted to the OTS API had a bug with PDF input (we might've only tested it with Word). We'll be moving the known-good metadata merge out of the existing "Merge" module to fix this.

[2017-03-08 22:06] pilasou commented on #20
I have made further test and the XML file is generated wihtout failling now. However, when converting a PDF, it always skip the <journal-meta/> element. When converted from Word or ODT, this tag contains the journal title and publisher. See example (converted from a PDF file generated by LaTeX):
[8-99Z_Article Text-28-1-2-20170308_LateX_simple.xml.txt](https://github.com/kaschioudi/ojs3-markup/fil

[2017-03-09 19:41] pilasou commented on #20
This bug may be linked to this issue: when the Galley files are generated from a PDF, the EPUB galley is empty. Other Galleys are generated (PDF and XML).
Exemple of EPUB: [7-99Z_Article Text-72-1-10-20170309.epub.txt](https://github.com/kaschioudi/ojs3-markup/files/832105/7-99Z_Article.Text-72-1-10-20170309.epub.txt)

[2017-03-09 19:56] pilasou commented on #19
I think I have had the same problem. The use case is as followed: the author make a submission in Word, all reviews are made using this format. At the Copyediting stage, the XML file is generated and all editing is made directly in the XML using Texture. The XML file is the only production ready file and is "Sent to production". The option to produce the Galley files before Publication is not avai

[2017-03-10 01:18] axfelix commented on #19
Oh, sorry! This was actually the very last bug we flagged internally before the test went out, and I may have cloned the wrong build down for the test installs I sent. The "generate galleys" action wasn't appearing on XML files, only Word/PDF at that stage, which _does_ break the ability to carry forward changes to publication. I'll see if I can update the test instances now.

[2017-03-29 21:37] axfelix commented on #9
This is fixed using the last working commit of this plugin in 3.0.2 and can be closed.

[2017-03-29 21:37] #9 closed

[2017-03-29 21:38] axfelix commented on #8
Working, closing :)

[2017-03-29 21:38] #8 closed

[2017-03-29 21:38] #13 closed

[2017-07-10 16:28] axfelix opened #24 "Rename repo to just "markup""
ojs3-markup is a more descriptive title, but due to how OJS handles plugin titles, it'd be easier to be able to just clone this down into plugins/generic as "markup"

[2017-07-10 16:38] axfelix opened #25 "Add "backlog convert" option for journals wanting to push all old articles to XML"
I think the best place for this is *probably* in plugin settings, which is somewhat non-obvious but I don't know if there's a better option.

We need a one-click option for journals wanting to convert a lot of their old content to XML, as well as a non-brittle process that can:

- run in the background
- not failover between submissions for any reason
- decide where to pull the content for batch c

[2017-07-10 16:42] axfelix opened #26 "Always populate "Layout version" with XML when returning galleys from OTS"
It'd be great if we could use this plugin as a means of re-adding an OAI endpoint to OJS3 -- it can serve our XML directly. To do this, we need the plugin to always return XML to one predictable place, only it can't be galleys, because galleys are *always* published, and some journals might not want to publish XML (which is why we have the toggle in plugin settings) yet still enable the OAI endpoi

[2017-07-10 16:42] axfelix commented on #26
I can take a crack at this one first.

[2017-07-10 16:43] axfelix commented on #25
Batch conversion using this method will likely *not* be perfect as it will bypass the Texture editing workflow and just dump out the first-pass result from OTS, but we should have it to support https://github.com/kaschioudi/ojs3-markup/issues/26

[2017-07-10 16:58] axfelix commented on #26
Should go in https://github.com/kaschioudi/ojs3-markup/blob/master/MarkupGatewayPlugin.inc.php#L375, I assume...

[2017-07-10 20:30] axfelix commented on #26
Note, this is called "production ready files" rather than "layout version" in OJS 3 (still had the 2.x name in my head) -- not sure what the best way to manipulate documents in this stage is though.

[2017-07-24 22:21] axfelix opened #27 "Update to Texture Alpha 3"
There's been a new release of Texture and we need to update this plugin to work with it. It should be a nearly drop-in replacement, but I wanted to clarify some things:

- it's no longer packaged as three directories containing css/fonts/js -- did we do that?
- does this template (https://github.com/kaschioudi/ojs3-markup/blob/master/templates/editor.tpl) deliberately declare *all* the js and css

[2017-07-24 22:39] axfelix commented on #27
Going to proceed under the assumption that passing documents to Texture indeed has not changed, due to this function being present in both the new and the currently-shipping builds...

      _loadDocument() {
        const configurator = this.getConfigurator();
        this.props.readXML(this.props.documentId, function(err, xmlStr) {

[2017-07-24 23:00] axfelix commented on #27
Just changing the css and js declarations and dropipng in the new version is producing:

    Uncaught TypeError: Cannot read property 'XMLSchema' of undefined
        at JATSArchiving.js:4
        at JATSArchivingData.start (texture.js:4)
        at texture.js:5

grepping in the pacakge for JATSArchiving.js is producing some weird results. @michael @oliver---- any immediate ideas? We can probably

[2017-07-24 23:03] obuchtala commented on #27
Ah, I suppose, the bundle is not fully self-contained anymore. I think in this case it is missing the substance bundle. I'll be right back with more details...

[2017-07-24 23:04] axfelix commented on #27
Thanks, take your time, I know it's late there :)

[2017-07-24 23:09] obuchtala commented on #27
![image](https://user-images.githubusercontent.com/284099/28548709-d4c6d8fc-70d5-11e7-9a7c-592d47eec2ff.png)

Could you try to do something similar. I.e. load the bundled substance.js before texture.js?

[2017-07-24 23:12] axfelix commented on #27
That's an improvement -- still whitescreening, but now throwing `Token abstract already used. Ignoring this transition.`

[2017-07-24 23:12] obuchtala commented on #27
That should be ok... if white screening... then we have something else... hmmm

[2017-07-24 23:20] obuchtala commented on #27
If not more errors are shown, I am a bit lost. Maybe we should create a bundle with some more logging?

[2017-07-24 23:22] axfelix commented on #27
If that's easy for you to do quickly, that'd be appreciated -- I'm not sure when @kaschioudi will have time to look into this.

[2017-07-24 23:24] obuchtala commented on #27
Would it work for you, if I created a branch where you build it and use the dist?

[2017-07-24 23:26] axfelix commented on #27
I don't think I'd know the best places to add more logging statements in that case...

[2017-07-24 23:28] obuchtala commented on #27
I was more thinking about me to add logging, and you `npm run bundle`

[2017-07-24 23:28] axfelix commented on #27
oh, sure!

[2017-07-24 23:29] obuchtala commented on #27
cool. Gimme some minutes...

[2017-07-24 23:41] obuchtala commented on #27
Sooo.... you could do in a clone of the texture repo:
[code]

also try
[code]
first, if everything is working locally.

[2017-07-24 23:42] obuchtala commented on #27
You find the bundle in `dist`

[2017-07-25 18:13] axfelix commented on #27
Still whitescreening with the same Token abstract already used error (it also threw this when building with npm)

[2017-07-26 09:39] michael commented on #27
What JATS file is used? Can you send me a zip with your full integration setup?

(the Token abstract already used error is not critical)

[2017-07-26 16:44] axfelix commented on #27
I've tried both of these, I can try to package the OJS instance in an intelligent way a little later...

[jats.zip](https://github.com/kaschioudi/ojs3-markup/files/1177376/jats.zip)

[2017-07-27 11:33] michael commented on #27
The first file does not pass through the validator. It should shows an error like this:

![image](https://user-images.githubusercontent.com/2931/28668419-f06e1c2c-72cf-11e7-8896-b8c51fc71eb3.png)

- fpage and lpage must not be empty if present

2nd file errors in Texture's figure rendering code - I'm investigating.

[2017-07-27 11:50] michael commented on #27
OK second file has wrong markup of `<fig>` element.

[code]

Caption should go not be in graphic - We should make validator fail in such a case (creating an issue).

Apart from that Texture UI expects the figure to have a title (`caption > title`) that's why it is whitescreening. Will be fixed in next release.

To help us track down errors like those please open the developer console in chrome and

[2017-07-27 12:16] michael commented on #27
@axfelix can we include these two files in the repo?

[2017-07-27 17:27] axfelix commented on #27
Oh, sure! Sorry, I would've actually tried to validate those against the DTD first, but I thought I'd already tested both of those "sets" of documents against Texture earlier on (one is our professionally marked up set, one is regular stack output) and we had all import errors resolved. Thanks for this!

[2017-07-27 19:11] pgdagenais opened #30 "Unable to convert a odt or docx file to XML"
OJS Version: 3.0.2.0
PHP Version: 5.4.16

Whenever I try to convert a docx or a odt file I get this error:

[code]

My jobs list (http://pkp-xml-demo.lib.sfu.ca/manager/list) is also empty.

XML conversion error:
![xmlconversion](https://user-images.githubusercontent.com/7451030/28687827-c3c0016e-72dd-11e7-88c6-30a8fbc09c13.png)

[2017-07-27 19:34] axfelix commented on #30
Try commenting out https://github.com/kaschioudi/ojs3-markup/blob/master/MarkupGatewayPlugin.inc.php#L278 -- I think I intended to remove this but it didn't make it into master, as I found it wasn't reliable available from the OJS DB.

[2017-07-27 19:34] axfelix commented on #30
Yup, see my PR: https://github.com/kaschioudi/ojs3-markup/pull/23/commits/af9198ae8b509ff90f4f129c7f37a148c5bd1de7

[2017-07-27 19:35] axfelix commented on #30
Just merged, you can pull.

[2017-07-27 19:45] pgdagenais commented on #30
I am still getting the same error.

Is there a debug mode that I can activate ? The multiple debug option in the `config.inc.php` file doesn't seems to help

[2017-07-27 20:04] axfelix commented on #30
I'll see if I can duplicate-- I'm not aware of any other issues with this plugin right now, and I've been testing pretty recently with my branch that had that PR. The server logging you're getting right now is probably all that the module supports currently...

[2017-07-27 20:12] pgdagenais commented on #30
I could send you the odt file that I use to test OTS

I'm just wondering, all I need to do for the plugin to work is add my email address and my API key from http://pkp-xml-demo.lib.sfu.ca ?

[2017-07-27 20:13] axfelix commented on #30
Should be, yes!

[2017-07-27 20:13] axfelix commented on #30
And do feel free to send the file

[2017-07-27 20:17] pgdagenais commented on #30
I can't upload a `.odt` file here but here is a filebin link https://filebin.ca/3UqkwQGU6jk9/14-99Z_ArticleText-29-1-2-20170726.odt

I will try to see if OJS tries to communicate with the OTS server

[2017-07-27 20:22] axfelix commented on #30
I'm able to submit the job fine, through both my OJS instance and through OTS directly.

Are there any special characters you've entered as part of the document metadata that it might be choking on when it tries to submit the job?

[2017-07-27 20:28] axfelix commented on #27
PS, the validator is requiring that volume and fpage be _present_ *and* not empty, which isn't a requirement that all of our content can fulfill:

    /article/front: [error]article-meta checking: Either <fpage> or <elocation-id> must be present in <article-meta> (Tagging Guidelines)

    /article/front/article-meta: [error]empty element check: volume should not be empty

[2017-07-27 20:30] pgdagenais commented on #30
We do have some special character (french article)

Here is the document metadata:
![metadata1](https://user-images.githubusercontent.com/7451030/28690866-b9959540-72e8-11e7-94c1-e9f43b521257.png)
![metadata2](https://user-images.githubusercontent.com/7451030/28690865-b97aeed4-72e8-11e7-9c08-17c6d5a3175d.png)

[2017-07-27 20:31] axfelix commented on #30
OK, I'm concerned this might be the issue -- we can definitely figure out a way to sanitize it, but I don't think we've tested how robust the metadata submission to the API is for special characters.

Want to try removing non-ascii characters from the metadata to see if the submission works, and in the meantime, I'll make sure we can support proper utf-8 here? The document *body* should be totally

[2017-07-27 20:44] pgdagenais commented on #30
Just stripped the metadata, didn't work.

Here it is:
![strmetadata1](https://user-images.githubusercontent.com/7451030/28691366-adfb1654-72ea-11e7-8b82-d11f2bc87bb0.png)
![strmetadata2](https://user-images.githubusercontent.com/7451030/28691364-adf98a50-72ea-11e7-89ac-9a861806f397.png)
![strmetadata3](https://user-images.githubusercontent.com/7451030/28691365-adf9d500-72ea-11e7-8e3f-f37d6df03831.

[2017-07-27 20:45] axfelix commented on #30
OK, good, hopefully we don't have encoding issues then and it's just something in your environment!

Sorry about this, I'll make sure I can't replicate on a fresh install...

[2017-07-27 20:47] pgdagenais commented on #30
I will try to install it in a VM locally.

I just saw https://github.com/axfelix/ots-vagrant on your profile, does it work ? I could try to host my own OTS locally and see if I am able to make it work.

If it does I could help and contribute to it.

[2017-07-27 20:48] axfelix commented on #30
Yup, by all means! I'm almost certain the problem is just with the plugin side rather than with the server side in your case though (I'm not seeing any submissions from you on the OTS server)

[2017-07-27 21:00] pgdagenais commented on #30
Alright, thank you very much !

Could you just tell me where are located the uploaded article files ? I'm wondering if OJS can read them.

[2017-07-27 21:18] axfelix commented on #30
I'm afraid I just confirmed I can't duplicate any issues -- job submission goes through just fine on a clean install of OJS 3.0.2 with a checkout of this plugin's master branch.

Are you sure your server has `PHP CURL, PHP Zlib, PHP JSON` per the plugin readme? I'm not sure all of those are OJS dependencies...

[2017-07-27 21:18] axfelix commented on #30
In any case, thanks for finally getting me to get that PR merged, sorry it was outstanding for so long and you hit the issue.

[2017-07-28 13:37] pgdagenais commented on #30
This is my environment:

OS: Centos 7
OJS Version: 3.0.2.0
php version: 5.4.16
php zlib version: 1.2.7
php curl version: 7.29.0
php json version: 1.2.1

All of the package required by the plugin are enabled

I can't seems to find any required php package for OJS itself.

[2017-07-28 14:29] pgdagenais commented on #30
Also, where can I find the user-specific OTS confirguration? I'd like to see if the problem is the API Token even tho I tried with 2 account.

[2017-07-28 17:19] axfelix commented on #30
If you toggle user-specific configuration on, it should appear in your user preferences. An authentication failure would *actually* return an authentication failure, though -- I'm still fairly certain from what you're telling me that it's failing to communicate with the stack at all.

That's a rather old version of PHP but it shouldn't matter...

[2017-07-28 17:59] axfelix commented on #27
What's the best thing for me to capture from pause-on-exception errors? I'm still hitting whitescreens for the majority of our output and our corpus for now...

[2017-07-28 21:23] michael commented on #27
Regarding `fpage` and `volume`... Is that really the case? I think it only errors if it is present but without text (that's enforced by JATS itself). If `volume` or `fpage` is not present that should be fine?

Regarding errors, just post a screenshot of the callstack like so:

![image](https://user-images.githubusercontent.com/2931/28736441-18453b02-73ea-11e7-8004-a796b59fee16.png)

For each uniqu

[2017-07-28 21:24] axfelix commented on #27
OK, will do -- I need to get it whitescreening a little less by EOD Monday, if possible. Will add some new issues.

[2017-07-28 21:32] axfelix commented on #27
![image](https://user-images.githubusercontent.com/252047/28737037-9b06d670-73a1-11e7-9bb7-128290b4aa0c.png)

this doesn't look useful to me...

[2017-07-28 21:34] obuchtala commented on #27
Yeah, these errors you need to skip. jquery throws exceptions instead of proper try-catch and if then else.

Edit: they use it to detect browser features.

[2017-07-28 21:35] axfelix commented on #27
Go on...

[2017-07-28 21:36] axfelix commented on #27
Oh hang  on, you mean just step through? OK, wait a sec...

[2017-07-28 21:36] obuchtala commented on #27
exactly ;)

[2017-07-28 21:36] axfelix commented on #27
![image](https://user-images.githubusercontent.com/252047/28737183-2976364e-73a2-11e7-8fa2-8d918a55c16c.png)

?

[2017-07-28 21:37] obuchtala commented on #27
$rdf is not defined ;)

[2017-07-28 21:37] obuchtala commented on #27
another jquery one

[2017-07-28 21:38] obuchtala commented on #27
`> next`

[2017-07-28 21:38] axfelix commented on #27
OK, whereas this is an actual error with our output, I think:

![image](https://user-images.githubusercontent.com/252047/28737220-511ed476-73a2-11e7-8677-8b0f97a317a7.png)

meTypeset will sometimes leave Zotero cues behind if it can't resolve a reference...

[2017-07-28 21:38] obuchtala commented on #27
Zotero is not defined

[2017-07-28 21:39] axfelix commented on #27
It's actually getting to the point of trying to invoke some Zotero code, though, which seems like something Texture wouldn't be doing if we *just* had lingering Zotero metadata in the doc?

![image](https://user-images.githubusercontent.com/252047/28737261-8665066e-73a2-11e7-9844-c4a8e993b5b8.png)

[2017-07-28 21:39] obuchtala commented on #27
Ok, can u explain in more detail?

[2017-07-28 21:42] axfelix commented on #27
Actually, there's no lingering Zotero metadata in that doc at all, it seems whatever threw that issue is purely on the Substance side (although probably an issue with the doc, of course).

Want me to just upload it, or keep stepping through?

[2017-07-28 21:44] obuchtala commented on #27
We don't have any Zotero support in Substance. Let's step through until we reach something in our land.

[2017-07-28 21:45] axfelix commented on #27
OK, weird -- I assume you'd just pulled some Zotero code in as part of your citation stuff, I have no idea where that's actually coming from in that case...

[2017-07-28 21:45] axfelix commented on #27
Oh that's just my chrome extension, dammit. Ha, hang on.

[2017-07-28 21:46] obuchtala commented on #27
Aha ;)

[2017-07-28 21:46] axfelix commented on #27
Now this is the only non-jquery error I'm hitting:

![image](https://user-images.githubusercontent.com/252047/28737482-95a15d16-73a3-11e7-87a9-7ce5cc416c7f.png)

[2017-07-28 21:47] obuchtala commented on #27
Oi. Still not my land ;)

[2017-07-28 21:49] obuchtala commented on #27
Let's continue with a zip. We need to enable our validator UI. Somehow, this does not get shown on your side.

[2017-07-28 21:49] axfelix commented on #27
Well, then I really have no idea what's causing this one to die ...
[4-99Z_Article Text-5-1-2-20170728.zip](https://github.com/kaschioudi/ojs3-markup/files/1184340/4-99Z_Article.Text-5-1-2-20170728.zip)

[2017-07-28 21:50] obuchtala commented on #27
I will take a look. Gimme some minutes.

[2017-07-28 21:57] obuchtala commented on #27
Ok. The integration code is not robust against non-parsable XML. In earlier versions, the import dialog showed up, but now it is crashing. @michael could you help fixing this? I.e. JATSImporter is implemented to check the validity of the XML and show an error. The current boot script parses the XML, but is not robust against errors here.

[2017-07-28 22:00] axfelix commented on #27
I get this output from xmllint -- obviously not perfect but should be parseable:

$ xmllint --valid 4-99Z_Article\ Text-5-1-2-20170728.xml > ~/Desktop/text.txt
4-99Z_Article Text-5-1-2-20170728.xml:20: element name-alternatives: validity error : No declaration for element name-alternatives
hor"><name-alternatives><string-name>otsalpha </string-name></name-alternatives>

[2017-07-28 22:02] obuchtala commented on #27
![image](https://user-images.githubusercontent.com/284099/28737969-405c5466-73f1-11e7-9402-158949a30acb.png)

[2017-07-28 22:04] obuchtala commented on #27
There seems to be some illegal white-space at the beginning of the XML.

[2017-07-28 22:06] obuchtala commented on #27
Just for clarification, we use DOMParser from the browser. It does seem to choke with white-space at the beginning. Dunno if that is valid XML or not. But it is a problem in the browser.
We could add trimming to our implementation before calling DOMParser, if this is a recurring problem, though.

[2017-07-28 22:08] axfelix commented on #27
It might be -- I could add sanitization on our end, but I'm not sure what I need to sanitize yet, and since xmllint doesn't seem to have a problem with the document, I'm not sure where to start.

[2017-07-28 22:08] axfelix commented on #27
[3-99Z_Article Text-4-1-2-20170727.zip](https://github.com/kaschioudi/ojs3-markup/files/1184377/3-99Z_Article.Text-4-1-2-20170727.zip)

This doc is also only throwing the same requireNative issue...

[2017-07-28 22:09] obuchtala commented on #27
Same thing.

[2017-07-28 22:11] axfelix commented on #27
OK, should probably try to find out where this illegal whitespace is coming from. Any ideas? Other than just passing it through a trim function and hoping that works?

[2017-07-28 22:11] obuchtala commented on #27
Nah, sorry. In that case it was `<journal-id>` and `<year>` being incomplete.

[2017-07-28 22:12] obuchtala commented on #27
You don't see the import dialog? we need to fix this!

[2017-07-28 22:12] axfelix commented on #27
We need to fix that *and* get better at allowing empty metadata values :)

[2017-07-28 22:12] obuchtala commented on #27
I think it is JATS which needs to be fixed then ;)

[2017-07-28 22:13] obuchtala commented on #27
https://jats.nlm.nih.gov/archiving/tag-library/1.1/element/year.html

[2017-07-28 22:13] obuchtala commented on #27
![image](https://user-images.githubusercontent.com/284099/28738271-c9b934f8-73f2-11e7-977f-6cff981f3ebc.png)

[2017-07-28 22:14] axfelix commented on #27
I'm fairly sure most of the empty values we're creating right now were because earlier tools were even more upset when they didn't exist at all, even if they're required to be filled, but I'll double check that.

[2017-07-28 22:16] obuchtala commented on #27
I mean, maybe we misinterpret `(#PCDATA)` and `(#PCDATA)?` which both exist in the schema.
Then we need to make it more lax.

[2017-07-28 22:17] obuchtala commented on #27
We see the errors, because we take the schema seriously ;)

[2017-07-28 22:18] axfelix commented on #27
:) I know! It's good that you do!

That doc is still whitescreening for me after removing journal-id and year, though...

[2017-07-28 22:19] obuchtala commented on #27
We need to fix the former issue. But for now send me your updated XML.

[2017-07-28 22:20] axfelix commented on #27
[3-99Z_Article Text-4-1-2-20170727.zip](https://github.com/kaschioudi/ojs3-markup/files/1184390/3-99Z_Article.Text-4-1-2-20170727.zip)

[2017-07-28 22:21] obuchtala commented on #27
BTW, what I do:
I have a vanilla texture clone. Then I copy and paste XML replacing one of the samples and open it via the landing page served when running `npm start`

[2017-07-28 22:22] obuchtala commented on #27
It is working for me.

[2017-07-28 22:22] axfelix commented on #27
Got it, thanks. I've been testing inside of OJS hoping we I can get at least one doc to work that way but I think I need to just run texture standalone to isolate these, I guess

[2017-07-28 22:23] axfelix commented on #27
OK, that's interesting -- so there may _still_ be something wrong in our integration at this point?

[2017-07-28 22:23] obuchtala commented on #27
Seems so.

[2017-07-28 22:25] axfelix commented on #27
Good to know! I think that's enough to convince me to just focus on standalone Texture demos during our workshop next week! But the good news is there's still plenty of UX hands-on stuff to be done there.

[2017-07-28 22:25] axfelix commented on #27
@kaschioudi  -- we'll have to revisit integration issues when you have time.

[2017-07-28 22:26] obuchtala commented on #27
Let's get our validator page shown on your side. Or at least in a dev setup. That's why we have introduced it in first place :)

[2017-07-28 22:27] obuchtala commented on #27
Or maybe the code does not even get to that point.. for whatever reason.

[2017-07-28 22:28] axfelix commented on #27
I'm sure that's just an issue with our integration, now; let me check if I can get it thrown when running standalone.

[2017-07-28 22:48] axfelix commented on #27
Yeah, it's working fine standalone. OK, well, unless you have any suggestions about what might be going wrong with the integration, we might have to leave it for now...

[2017-07-28 22:50] obuchtala commented on #27
Do we have an integration to test by ourselves somewhere?

[2017-07-28 22:52] axfelix commented on #27
Ah, certainly, if you're willing!

http://lib-garnett.lib.sfu.ca/ojs-plugin-alpha-12/index.php/test/submissions

with username: "otsalpha" and password "t3sting"

click through on any of the submissions, then expand the context menu below any of the XML documents, and try "Edit with Texture".

[2017-07-28 22:54] axfelix commented on #27
Also you can obviously bill for this :)

[2017-07-28 23:02] obuchtala commented on #27
On the first glance, I don't see any boot script. Maybe this has changed (@michael?)
I only see script tags including substance.js and texture.js which are just the libraries.
There should be some code doing something like:
[code]

[2017-07-28 23:03] obuchtala commented on #27
I think @michael needs to assist here.

[2017-07-28 23:03] axfelix commented on #27
And he's not available at midnight on a Friday?!

[2017-07-28 23:04] obuchtala commented on #27
Haha. Yeah. That sucks.

[2017-07-28 23:05] axfelix commented on #27
:) ok, thanks for all your help so far.

[2017-07-28 23:05] obuchtala commented on #27
I will be available the next two days. Should there be something I can help with, I will be there.

[2017-07-28 23:09] obuchtala commented on #27
BTW, I spotted a `<script>` tag loading a `vfs`. This is what we do in the example, in the lack of a real backend. Probably you don't want to do it that way, but just use ajax. cc @kaschioudi

[2017-07-29 05:41] michael commented on #27
Hey!

As Oliver said, in your integration the boot-script is missing. This  is also where you configure where to read the files from. So in a new script tag in the head do this:

[2017-07-29 05:44] michael commented on #27
Sorry, previous comment submitted too early accidentally. So do this:

[code]

You can remove the vfs.js script.

[2017-08-01 17:45] pgdagenais commented on #30
Going back to the error message:
[code]
Anything here says server misconfiguration to you ?

[2017-08-02 17:48] pgdagenais commented on #30
I think that I found the problem.
The value of `xmlJobId` is `NULL` because it is never defined anywhere.

I printed the value of the variables in my error_log:
[code]

When the `fetchConversionJobStatus` is trying to define this variable
[code]
`getJobStatus(NULL)` wont work so this is why I think that I get this error.

But I could be wrong, I don't really know PHP that much.

[2017-08-02 18:07] axfelix commented on #30
OK -- I can't reproduce consistently, so I don't think that should be happening. I'll get @kaschioudi to look at this when he has time, he did a somewhat significant refactor before he was more urgently needed on another project for a while, and I thought we'd resolved all of the issues there, but I could be wrong.

[2017-08-02 18:15] pgdagenais commented on #30
Perfect, thank you very much !

[2017-08-15 06:54] kaschioudi commented on #27
@axfelix This is based on `editor.html` from texture example (see https://github.com/substance/texture/blob/alpha-3-integration/examples/editor.html)

@oliver----  @michael is there a better way to do this? I have installed texture and ran `npm run bundle` . Is there a master css / javascript file that include all stylesheets / scripts than I can include or I still have to declare all dependencies

[2017-08-15 14:44] axfelix commented on #27
@kaschioudi per the above conversation, you should be able to copy the block in their release demo that does https://github.com/kaschioudi/ojs3-markup/issues/27#issuecomment-318806423 instead

[2017-08-15 15:11] kaschioudi commented on #27
Have you guys seen https://github.com/kaschioudi/ojs3-markup/blob/master/texture/js/store.js and https://github.com/kaschioudi/ojs3-markup/blob/master/texture/js/app.js ?

I believe these are the XML store and the boot-script respectively.

But my question was regarding the dependencies files to load in `editor.tpl`. I have been including all stylesheets and javascript files as per `editor.html` (

[2017-08-15 15:55] axfelix commented on #27
Oh, I wasn't sure that we could still use that method -- will need the substance guys to clarify.

[2017-08-16 12:25] michael commented on #27
Hi @kaschioudi @axfelix !

editor.tpl looks good, this should work. You could run a JS bundler to have just one file, but I think it is also ok to have several files.

The bootscript changed a little bit, instead of specifying an XMLStore, you directly provide readXML and writeXML functions. You could still keep your XMLStore but change app.js like so:

[code]

Cheers, Michael

[2017-08-17 21:02] axfelix commented on #27
Working! Thanks!

[2017-08-17 21:03] axfelix commented on #19
This should be fixed in the current plugin code.

[2017-08-17 21:03] #19 closed

[2017-08-17 21:03] axfelix commented on #21
Fixed in newest Texture editor included with plugin.

[2017-08-17 21:03] #21 closed

[2017-08-17 21:05] #14 closed

[2017-08-18 19:03] kaschioudi commented on #27
thanks @michael for you reply. it was helpful.

However, I can't get saving to work properly. Not sure whether I'm doing something wrong or it's a bug in Texture. Basically the value for `documentId` from the context object is `undefined`. (see https://github.com/substance/texture/blob/b4ee8f123b97d5cbd04526d60a53cfa2f77e5978/src/editor/util/SaveHandler.js#L17)

Any idea what's happening? Thanks.

[2017-08-29 08:41] NateWr opened #32 "Move settings page to Settings > Workflow?"
Just going off of the screenshots here, but I think the settings page would fit better under Settings > Workflow. The Settings > Website tab set is already overloaded and this is really a workflow concern.

[2017-08-30 03:39] kaschioudi commented on #32
@axfelix what do you think ?

[2017-08-30 05:06] axfelix commented on #32
100% Happy to follow Nate and Alec on this one.

[2017-08-30 14:14] michael commented on #27
@kaschioudi I published a patch release, where this issue should be fixed:

https://github.com/substance/texture/releases/tag/v1.0.0-alpha.3.1

Use the contents from the attached zip file.

[2017-08-31 18:49] ajnyga commented on #32
I think that there is no hook available for other places than Settings => Website? (please add them)

[2017-08-31 18:53] ajnyga opened #33 "Addition to readme concerning database table creation"
Hi,

I noticed that the plugin creates a database table. In order to this happen, you need to run `php tools/upgrade.php upgrade` or `php tools/dbXMLtoSQL.php -schema execute plugins/generic/markup/schema.xml`.

[2017-08-31 21:17] axfelix commented on #33
thanks, clarified!

[2017-08-31 21:17] #33 closed

[2017-09-01 10:01] NateWr commented on #32
:cry: If that's the case, that can be rectified in time for 3.1. @ajnyga can you file an issue on `pkp-lib` and assign to me?

[2017-09-05 18:36] jalperin opened #34 "Make Convert to XML and Generate Galleys links appear only where appropriate"
Convert links should only appear on doc, docx, and PDF. Definitely should not be appearing on the XML files (for example).

Generate Galley files should only appear on XML? Or maybe its on the same file types.

[2017-09-05 19:18] axfelix commented on #34
Convert link can go away for XML, yeah.

Generate galley should appear for all filetypes, though -- we support going directly from Word/PDF to the galleys if a user wants.

[2017-09-06 16:10] axfelix commented on #34
And it looks like the Convert link for XML files wasn't there until recently... so that's a regression. @kaschioudi

[2017-09-06 16:58] axfelix opened #35 "Unpredictable timeouts"
Articles which take a long time to process on the OTS side (usually due to many references, and many CrossRef API hits) aren't being returned to OJS in some cases, even though the plugin successfully monitors the job up until it is completed -- there's just no XML/PDF/ePub files populated when the modal is dismissed.

I'm not sure if this is somehow due to PHP timeouts or not.

[2017-09-07 22:25] asmecher commented on #26
@kaschioudi, let me know when you've got something I can test with -- I'll be writing the code to pick up from here and present the XML content via OAI.

[2017-09-07 22:26] asmecher commented on #25
@kaschioudi, I'll be talking with Erudit on the 15th and would like to give a progress update -- how is this coming along?

[2017-09-07 22:27] axfelix commented on #25
I saw a demo of this last week and it was almost fully working, @kaschioudi is just doing a refactor before merging. We should be able to present a demo next week of at least the batch conversion, not sure if you were hoping to have the feed implemented by then too.

[2017-09-08 00:03] kaschioudi commented on #26
@asmecher

I just created a PR for #25, #26 and #27.

cf: https://github.com/kaschioudi/ojs3-markup/pull/36

In case you would like to cherry pick, here's the commit for this issue: https://github.com/kaschioudi/ojs3-markup/commit/5e3935f6befb48ac1dab58130becfa0be290b716

[2017-09-08 00:05] kaschioudi commented on #25
I just created a PR for #25, #26 and #27.

cf: https://github.com/kaschioudi/ojs3-markup/pull/36

Here's the commit for this issue: https://github.com/kaschioudi/ojs3-markup/commit/d0a481922f0cc959f7ecad6a423cf1d990bc751e

[2017-09-08 00:06] kaschioudi commented on #27
thanks @michael .

[2017-09-20 04:54] kaschioudi commented on #34
https://github.com/kaschioudi/ojs3-markup/commit/cfac0bdf428a53d6905140209940aaaf4f34a5f3 should fix this issue.

[2017-09-20 04:55] kaschioudi commented on #25
@axfelix @asmecher
Please see https://github.com/kaschioudi/ojs3-markup/commit/cfac0bdf428a53d6905140209940aaaf4f34a5f3 for the changes we discussed.

[2017-09-20 16:06] axfelix commented on #25
Thanks, @kaschioudi !

@asmecher , since you had more specific ideas of what you wanted to see than I expected the last time we met, did you want to see if you could get this running on your own at this point as a sanity check before we meet again? I'll test anyway, but that might be easier.

[2017-09-20 21:08] asmecher commented on #25
@axfelix and @kaschioudi, sure, I'll run through it.

[2017-09-21 00:04] asmecher commented on #25
Feedback posted over on https://github.com/kaschioudi/ojs3-markup/pull/36.

[2017-10-03 21:37] #27 closed

[2017-10-03 21:38] axfelix commented on #20
Hi @pilasou -- this should all be fixed in the current release if you want to test.

[2017-10-03 21:38] axfelix commented on #30
@pgdagenais, can you still duplicate this?

[2017-10-05 07:46] Vitaliy-1 opened #37 "Document can't be re-opened after saving"
If one has edited a document with texture and saved it, result XML can't be opened anymore:

[code]

[2017-10-05 15:42] axfelix commented on #37
@kaschioudi , are we writing out the file with additional HTML? I'm not actually sure I've tested the save/load behaviour since the most recent version bump, this is a weird regression but it's not impossible for us not to have caught it. I'll see if I can reproduce...

[2017-10-05 16:27] kaschioudi commented on #37
I don't think so.

@axfelix  However on Aug 31st I reported a similar issue on slack (#xml) regarding `FigComponent` error when trying to re-open a document previously edited with Texture. Do you remember? I wonder if this is related.

@Vitaliy-1 Could you send me your xml document so that I can try to reproduce this?

[2017-10-05 16:31] axfelix commented on #37
Yeah, we know we have problems with graphic elements of all kinds right now, their restrictive JATS subset doesn't like the way that meTypeset or Cermine is creating fig+caption: https://github.com/substance/texture/issues/252

I haven't written a block to "reorganize" all figs in our Merge module yet mostly due to my dislike of PHP DOM stuff & their intent to fix this in their next major release,

[2017-10-05 16:53] kaschioudi commented on #37
Okay @axfelix. Were you able to reproduce the error? if so please send me your xml document so that I can try as well.

[2017-10-05 16:58] axfelix commented on #37
Haven't tested yet, I will a little later today

[2017-10-05 19:34] asmecher opened #38 "Journal title should be provided by OJS to OTS"
In @kaschioudi's latest test, the journal title appears to be detected from the document by OTS, rather than supplied by OJS.

[2017-10-05 19:38] asmecher opened #39 "Volume/number/year data appears not to be provided to OTS from OJS"
The published OJS journal shows...

    <meta name="citation_volume" content="4"/>
    <meta name="citation_issue" content="1"/>

...but the OTS XML shows...

    <volume>151</volume>
    <issue>1968</issue>

[2017-10-05 19:41] asmecher opened #40 "Submissions without abstracts in OJS get them detected by OTS"
Some submissions won't have metadata in OJS (e.g. abstracts). The absence of an abstract is useful information, and I'd suggest when that's the case, it should prevent OTS from attempting to grab one from the document, as I expect it'll be a low-quality match for an important piece of metadata.

That should probably apply more broadly to metadata that OJS can provide -- thinking e.g. about journal

[2017-10-05 19:44] asmecher opened #41 "OTS seems to prefer its own authorship information to OJS-supplied authorship information"
Noted in cases where authors in the document are in ALL CAPS whereas OJS has Normal Capitaliation. Also appears to apply to e.g. affiliations, which can have typos from OCR operations in the OTS data.

[2017-10-05 19:45] axfelix commented on #38
I'm guessing that this and https://github.com/kaschioudi/ojs3-markup/issues/39 are because @kaschioudi's own branch of OTS that he tested against hasn't been updated since https://github.com/pkp/ots/pull/103

[2017-10-05 19:45] axfelix commented on #38
Probably also https://github.com/kaschioudi/ojs3-markup/issues/41

[2017-10-05 20:28] axfelix commented on #40
Would it be sufficient for OTS to not attempt to parse *any* missing metadata in cases where it receives any known-good metadata from OJS? In other words, should including metadata as an input parameter to OTS skip any other front matter parsing entirely?

[2017-10-05 20:32] asmecher commented on #40
Yes, I think that would be a safe approach.

[2017-10-05 20:38] axfelix commented on #40
OK, good, that's the current behaviour :)

[2017-10-05 21:08] axfelix commented on #37
Yeah, I can duplicate this -- it's on Substance's end, though, I'll raise it with them.

[2017-10-05 21:11] axfelix commented on #37
https://github.com/substance/texture/issues/279

[2017-10-05 23:21] kaschioudi commented on #38
@asmecher : @axfelix is right. I am not running the latest code of OTS in my instance. I will update my OTS install and restart the conversion.

[2017-10-06 03:37] Vitaliy-1 commented on #37
Example:
https://fex.net/get/018465473271/62275823

[2017-10-06 03:49] Vitaliy-1 commented on #37
I suggest to check second DOCTYPE declaration, that is automatically added after the saving:
`<!DOCTYPE article PUBLIC "JATS4R 1.1" "http://texture.substance.io/JATS4R-1.1.dtd">`
As well as additional `pub-id`'s

File after saving> Additional doctype declaration has been removed for proper formatting:
https://fex.net/get/018465473271/62277755

[2017-10-06 16:28] asmecher commented on #38
Thanks, @kaschioudi -- see if you can run the test early next week, then if you can pass along the generated XML, I can send it to Erudit for comparison with the OJS 2.x NLM XML.

[2017-10-06 17:03] kaschioudi commented on #38
@asmecher I have refreshed my OTS install with latest version of master branch and have noticed that conversions get stuck at some point in the pipeline. I have notified @axfelix and waiting for his feedback. I will keep you posted.

[2017-10-09 10:58] Vitaliy-1 opened #42 "Suggested for new tags support"
Greetings,

These tags are not currently supported by Texture, but are supported by Lens Viewer plugin and JATS standards:
`article/front/journal-meta/journal-title-group/journal-title`
`article/front/article-meta/title-group/article-title`
`article/back/ref-list/ref/element-citation/ext-link`
It would be great to include them in the plugin.

[2017-10-10 17:24] axfelix commented on #42
These should all be supported by Texture currently or planned to be.

[2017-12-11 16:57] axfelix commented on #7
Planned behaviour is as follows:

- Clicking the save button in Texture will a) register a new draft of the document in OJS (as though a new Word or PDF draft had been uploaded), b) save the current Texture changes to this new draft, and c) post back any front matter changes to OJS article metadata (through DB calls or helper functions).

- Editing metadata for any article directly in OJS will als

[2017-12-12 17:38] asmecher commented on #7
In OJS's current file model, the most recent revision is *always* the "current" version, i.e. there is no way to post a "draft" without having it operative. I would suggest a "save button" approach; when clicked, it'll post the current file to OJS as a new revision.

[2017-12-12 17:47] axfelix commented on #7
We could do that *and* the auto save though, given that the backend already supports it; in my mind this is a vote in favour of "every session automatically generates a new draft and auto saves to that"

[2017-12-12 19:15] asmecher commented on #7
Would the drafts be saved in OJS? Where?

[2017-12-12 19:16] axfelix commented on #7
Yes -- the idea is that every new Texture session that performs any autosaving of changes would automatically register a new draft with OJS, and the save button would manually register yet another, like a "Save As".

[2017-12-12 19:23] asmecher commented on #7
But as above:

[2017-12-12 19:33] axfelix commented on #7
Oh, crud. OK, I wasn't fully grasping that limitation. I guess we can just disable the autosave behaviour outright for the time being, then. Is there a chance that we'd be able to work around this in the future?

[2017-12-12 20:03] asmecher commented on #7
I don't have any plans to change it, though I'm open to proposals. Longer term, we've discussed replacements for the current file model, i.e. one of the various git implementations or similar, but haven't come to a concrete decision.

[2017-12-13 22:18] #25 closed

[2018-01-24 23:03] #38 closed

[2018-01-24 23:03] #39 closed

[2018-01-24 23:03] #40 closed

[2018-01-30 03:19] asmecher opened #43 ""User ID" should presumably be email"
In the settings form, we refer to "User ID". This language isn't used elsewhere -- the OTS website uses email addresses for logins. Make the language consistent.

[2018-01-30 03:20] asmecher opened #44 "Exclude incomplete submissions from batch conversion list"
Submissions with `submissions.submission_progress<>0` should not be listed in the batch conversion tool.

[2018-01-30 03:22] asmecher opened #45 "Consider batch conversion tools for large multi-journal installs"
Currently the OTS plugin operates on a per-journal basis, e.g. for configuration, batch migration, etc.
Some installs may have a lot of journals, and configuring and running the plugin on a journal-by-journal basis may not be practical. Consider tools for facilitating large-scale conversion.

I would suggest a command-line tool for multi-journal installs.

(OTOH I think we already support overridi

[2018-01-30 03:23] asmecher opened #46 "Double-check protections against malicious invocation of the batch conversion gateway plugin"
At a glance, there is no protection against malicious invocation of the batch conversion gateway plugin. Make sure it can't be abused.

[2018-01-31 16:43] axfelix commented on #43
Good point -- done for en_US in https://github.com/kaschioudi/ojs3-markup/commit/fd0556c0018b60ae986bce9d06ff622683ebcda2

@kaschioudi, I'll let you review Alec's other recent issues. I don't think any are urgent but we should eventually be implementing all of them.

[2018-01-31 16:43] #43 closed

[2018-02-01 21:59] asmecher opened #47 "CURL job starting batch conversion has no error checking"
See https://github.com/kaschioudi/ojs3-markup/blob/fd0556c0018b60ae986bce9d06ff622683ebcda2/MarkupBatchConversionHandler.inc.php#L111 --
In a local test, I start a conversion process and receive the "Batch conversion started successfully" notification. However, the process appears to have failed, despite the notification. There needs to be error/response checking on the CURL job.

[2018-02-05 17:22] kaschioudi commented on #47
@asmecher

`curl_setopt($ch, CURLOPT_TIMEOUT_MS, 1000);` makes the curl request timeout after 1 sec so that this request does not hang waiting for the process behind the gateway plugin to complete.

Because of the timeout set above, `curl_exec($ch);` will always return an empty string. I don't really see how i could check the curl status here. Please let me know if you know a way.

[2018-02-05 21:32] asmecher commented on #47
The base problem I'd like to try solving is that a user is given a promise that a process has started, when that might not be true. Some common causes:
- The OJS server can't contact the OTS server
- The OTS server URL is incorrect
- The OTS API key is incorrect
- etc.

Currently the process appears to silently dead-end. Users who encounter this will be hard to help remotely.

In my opinion the cl

[2018-02-07 16:46] axfelix commented on #7
https://github.com/substance/texture/blob/master/examples/editor.js#L81

Manual save example for newest Texture so I don't forget

[2018-02-08 21:14] #16 closed

[2018-02-08 21:14] #20 closed

[2018-02-08 21:15] #26 closed

[2018-02-08 21:16] #34 closed

[2018-02-08 21:16] #30 closed

[2018-02-08 21:17] axfelix commented on #37
This should be fixed in Texture Alpha 4, which we'll be bringing upstream in the next month or so.

[2018-02-08 21:17] #37 closed

[2018-02-08 21:17] #42 closed

[2018-02-08 21:28] axfelix commented on #7
@kaschioudi, Texture is nearing another release that a) properly stabilizes manual saving as a function that can be called separately by a wrapper (see link in previous comment) and b) provides a proper filesystem backend for image uploads. I just made a few changes to OTS to make sure the JATS we're producing should no longer create issues for Texture's strict subset, and we're going to want to i

[2018-02-09 05:53] asmecher opened #48 "Avoid HTTP 417 errors in batch conversion CURL POST"
This appears to be a missing feature in lighttpd:

https://redmine.lighttpd.net/issues/1017

It's resolved in newer releases but affects my server. The work-around is to disable the feature in the curl request per [this post](https://gist.github.com/perusio/1724301):

    curl_setopt($ch, CURLOPT_HTTPHEADER, array('Expect:'));

[2018-02-09 05:56] asmecher commented on #48
PR: https://github.com/kaschioudi/ojs3-markup/pull/49

[2018-02-09 05:57] asmecher opened #50 "Maintain compatibility with ojs master (for 3.1.1 release)"
Currently the master branch of ojs3-markup is not compatible with the OJS3 master branch.

I'd suggest creating a new `ojs-stable-3_1_0` branch, then maintaining OJS 3.1.x compatibility there. The forthcoming PR should then be merged into the master branch.

[2018-02-09 05:59] asmecher commented on #50
PR: https://github.com/kaschioudi/ojs3-markup/pull/51

[2018-02-09 18:02] #48 closed

[2018-02-09 18:03] #50 closed

[2018-02-09 18:10] asmecher commented on #50
@kaschioudi, it doesn't look like the `ojs-stable-3_1_0` branch got created before merging this.

[2018-02-09 18:30] kaschioudi commented on #50
@asmecher : I just pushed the branch.

[2018-02-22 17:30] asmecher opened #52 "Untranslated locale key "submission.copyrightStatement" appears in OTS XML"
The untranslated key `submission.copyrightStatement` appears in OTS XML. It appears to be injected by the OTS plugin. The respective locale file needs to be loaded before the key is used.

[2018-02-27 09:29] kaschioudi commented on #45
@asmecher
https://github.com/kaschioudi/ojs3-markup/pull/53

[2018-02-27 09:30] kaschioudi commented on #45
No, OTS credentials are stored only in the database.

[2018-03-01 02:23] asmecher commented on #45
I think it's worth adding the option for administrators of large collections to specify the OTS API credentials in `config.inc.php`, making it unnecessary to set them up for every journal. (@axfelix, I have a vague recollection of talking about this before?)

[2018-03-01 03:40] axfelix commented on #45
I don't think we ever moved on that but I'd be all in favour of doing it here! Not sure what the usual template is for doing that in a plugin if there is one.

[2018-03-01 17:47] kaschioudi commented on #45
@asmecher is it okay to have a plugin configuration in `config.inc.php` ? Or there is an existing pattern to follow? if so please point me. thanks.

[2018-03-01 18:24] asmecher commented on #45
See e.g. https://github.com/pkp/ojs/blob/master/plugins/generic/backup/BackupPlugin.inc.php#L82

[2018-03-01 20:00] kaschioudi commented on #52
@asmecher : not sure how plugins manually load their locale file. I know of `AppLocale::requireComponents` which take `LOCALE_COMPONENT_...` constants

is it `$this->addLocaleData();` in plugin's `register()` ?

[2018-03-01 20:15] asmecher commented on #52
That locale key is in the `pkp-lib` locale files, not the plugin locale files, so you'd need to load the right locale file with

    AppLocale::requireComponents(LOCALE_COMPONENT_PKP_SUBMISSION);

[2018-03-01 20:22] kaschioudi commented on #52
My bad. I understood the local key was coming from the plugin.

[2018-03-06 14:32] kaschioudi commented on #45
https://github.com/kaschioudi/ojs3-markup/pull/53/commits/9e4f676b2563cb9cd30bf529d8bde744ed1d3bcd

[2018-03-06 14:37] kaschioudi commented on #45
Below is the new config block to add to config.inc.php. @asmecher could you please create an issue for OJS so that I can make a PR?
[code]

[2018-03-06 14:54] kaschioudi commented on #44
@asmecher : this had already been fixed in this commit from last week: https://github.com/kaschioudi/ojs3-markup/commit/21a0f98d9e3745ae670f2a387744edcfff8428e8

(cf. https://github.com/kaschioudi/ojs3-markup/blob/45-fix/classes/MarkupBatchConversionHelper.inc.php#L132-L135)

[2018-03-06 17:29] asmecher commented on #44
OK, thanks!

[2018-03-06 17:29] #44 closed

[2018-03-06 19:03] asmecher commented on #45
Do you mean a PR for adding this block to the default OJS configuration file? I wouldn't suggest doing that -- plugin details should stay outside the core codebase, especially if they aren't distributed with OJS. Instead, I'd suggest documenting the plugin's configuration options in the plugin's README.

[2018-03-06 19:24] kaschioudi commented on #45
Here (https://github.com/kaschioudi/ojs3-markup/issues/45#issuecomment-369672780) I was asking if it was okay to include plugin configs in `config.inc.php`. Which I found odd.

Alright, so the plugin checks `config.inc.php` for these configs but it's the end-user's who's in charge of adding the configs to `config.inc.php`. However we should update README to include that information. Correct?

[2018-03-06 19:29] asmecher commented on #45
Yes, that's correct.

[2018-03-06 20:07] kaschioudi commented on #45
@axfelix : since you've written most of the README, would you like to document how administrators could set credentials from `config.inc.php`?

[2018-03-06 20:38] axfelix commented on #45
Yup, sure thing. Sorry for the confusion here, I couldn't tell what was being asked either.

[2018-03-07 16:34] kaschioudi commented on #46
@asmecher : is there any pattern/practice in place for this use case somewhere else in OJS I should follow?

if no, what do you think about create a temporary file containing a unique id whose hash is passed to the gateway (from `MarkupBatchConversionHandler::startConversion()`). On the gateway side (`MarkupBatchGatewayPlugin::fetch()`), once a request is received:

1. Look for the hash
2. Locate

[2018-03-07 18:16] kaschioudi commented on #47
I don't think OTS API provides the capability to trigger multiple jobs in a single call. Conversions are triggered one by one.

Done.

 I just added a function to `MarkupBatchConversionHelper` only to realize that the only place where there could be a fatal error in the process would be when an invalid User ID is provided (https://github.com/kaschioudi/ojs3-markup/blob/45-fix/MarkupBatchGatewayPlu

[2018-03-08 01:14] asmecher commented on #46
@kaschioudi, the plugin should only be invoked by a user who is currently logged in as a journal manager, correct? You can use the `userHasRole` function in RoleDAO to check this. I don't think there's a risk of one journal manager trying to step on another journal manager's conversion -- journal managers are privileged roles and once you've got a journal manager account the system is largely open

[2018-03-08 10:48] kaschioudi commented on #46
Yes. Well the batch conversion part. (other features like XML Conversion and Galley files generation are available to users with other roles. cf. https://github.com/kaschioudi/ojs3-markup/blob/45-fix/MarkupHandler.inc.php#L31-L35)

@asmecher : I just want to double check something. In this particular case the gateway plugin is invoked via CURL so `$request->getUser();` returns `null`. How do I get

[2018-03-08 20:22] asmecher commented on #46
Of course, I forgot about that.

The trouble with just checking the user ID, as you say, is that unless I've missed something you could guess any manager's user ID and that would be enough.

I can think of two mechanisms that might work...
- The AccessKey mechanism; see `lib/pkp/classes/security/AccessKeyManager.inc.php`
- Store a random value in `user_settings` in the calling code, then check it

[2018-03-09 12:20] kaschioudi commented on #46
@asmecher see https://github.com/kaschioudi/ojs3-markup/commit/163689ee44e631cebe71b1d15ccfe19279f99c41

[2018-03-14 11:16] kaschioudi commented on #45
Here's how the admin could set default citation style to APA in config.inc.php

[code]
Commit: https://github.com/kaschioudi/ojs3-markup/commit/b7444743a6eb17aff46ec8c3a3d15aa645c3bf4e

I have modify the settings form to also hide the CSL select list when a default is set in config file.

[2018-03-14 16:50] asmecher commented on #45
@axfelix, are these hashes really the best way to specify a CSL to OTS? It seems brittle to me.

[2018-03-14 17:11] axfelix commented on #45
It's been working fine for several years; I can't remember it if Michael originally came up with it or it's actually tied to the CSV repo we pull from but we have an API call to list them and everything.

[2018-03-14 17:38] asmecher commented on #45
How stable are they?

[2018-03-14 18:15] axfelix commented on #45
https://github.com/pkp/ots/blob/master/module/CitationstyleConversion/src/CitationstyleConversion/Model/Citationstyles.php#L50

Looks like the hash is derived from the file names themselves in https://github.com/citation-style-language/styles, so -- very.

[2018-03-14 18:45] asmecher commented on #45
Hmm, it's a shame there's no proper listing or symbolic naming in the CSL repository. OK, if it's stable, it'll do.

[2018-03-16 22:29] axfelix commented on #45
Implemented in https://github.com/kaschioudi/ojs3-markup/pull/53 !

[2018-03-16 22:29] #45 closed

[2018-03-22 17:28] axfelix commented on #7
@kaschioudi , have you had time to start looking into this + Texture 4 integration yet?

[2018-03-29 14:34] kaschioudi commented on #7
@axfelix : where could I get documentation about this ?

[2018-03-29 15:46] axfelix commented on #7
I only have an example for the Save behaviour, not the image backend:

https://github.com/substance/texture/issues/330

[2018-05-15 20:13] asmecher commented on #52
@kaschioudi, I ran into this again today -- don't forget to make sure everything in `ojs-stable-3_1_0` also gets forward-ported to `master`!

[2018-05-16 01:15] coastalplain opened #55 "Convert to XML, Trigger Job, Batch Conversion not working (?)"
We have been working with the OTS Markup plugin using Journal-wide Authentication and the demo OTS site.  On the [OTS Site](http://pkp-xml-demo.lib.sfu.ca) we can convert a word docx (Thanks, @axfelix!).  When that same docx is loaded on to an OJS site and we try to create an XML using the OTS service, we are not getting a result.  From an individual submission, we click the "Convert to XML" and g

[2018-05-16 01:32] axfelix commented on #55
First question -- are you using the master branch, or ojs-stable-3_1_0? the latter is actually much newer (we meant to merge this after the last batch of work and only realized today that didn't happen). That's an oversight on our part and I bet it'll fix the issues you're having...

[2018-05-16 13:01] kaschioudi commented on #52
@asmecher : @axfelix and I have been waiting for you OK to merge `ojs-stable-3_1_0` into `master`. Let me know if I can go ahead with the merge.

[2018-05-16 13:13] coastalplain commented on #55
Yes (I downloaded and reinstalled just in case).

[2018-05-16 13:31] kaschioudi commented on #55
hi @coastalplain ,

Under the hood, there's a temporary file used for inter-process communication which gets created at the beginning of a batch conversion and deleted thereafter (unless there was a fatal error during the batch conversion). Check if that file exists in you system. The file name is `markupBatch.out` and is located in your system temporary directory (`/tmp` by default). Let me know

[2018-05-16 17:12] asmecher commented on #52
Is there a pull request open for this? I didn't know you were waiting for me.

[2018-05-17 00:29] coastalplain commented on #55
Hi, @kaschioudi
I found the file and it appears to have the correct time for the most recent attempt (I verified several times).  In this particular test, I tried to select three files from different submissions.  The markupBatch.out contains the following single row of text:

I can "Cancel" the operation, although it says "cannot cancel" and when I run a single file (that I know works on the demo

[2018-05-17 00:32] kaschioudi commented on #55
@coastalplain , I suspect you are running into a PHP fatal error, which is stopping the execution. Please monitor your PHP error logs and let me know if you see any entry during the conversion.

[2018-05-17 01:36] coastalplain commented on #55
@kaschioudi , I get a DB Error:

And that is correct.  I checked mySQL and it is not in there.  I did run `php tools/upgrade.php upgrade` and `php tools/dbXMLtoSQL.php -schema execute`  after installing the markup plugin under generic.   Is there a manual table creation script?

[2018-05-17 02:11] kaschioudi commented on #55
humm running those command should have created the `markup_jobinfos` table. @asmecher can you think of a reason why `markup_jobinfos` does not get created?

[2018-05-17 02:31] coastalplain commented on #55
@kaschioudi and @asmecher
The table was not created due to a PHP version error.   Being on a shared server, PHP7 is the default, and the command to upgrade the database needs less than PHP7. To find the various flavors available (to those who do not know):
`whereis php`
I found the highest version below 7, in my case php56 and ran that php version against the scripts
`/opt/imh/imh-php56/root/usr/b

[2018-05-17 11:27] #55 closed

[2018-05-17 16:55] asmecher opened #57 "PHP warning on conversion"
`PHP Notice:  Undefined variable: abstracts in /home/asmecher/git/ojs/plugins/generic/markup/classes/MarkupConversionHelper.inc.php on line 117`

(This may have been a submission without any abstracts.)

[2018-05-17 17:03] kaschioudi commented on #57
I believe I have already fixed this in the past.
(see https://github.com/kaschioudi/ojs3-markup/blob/master/classes/MarkupConversionHelper.inc.php#L107)
Is there a chance you're not running the latest version of the code ?

[2018-05-17 17:06] asmecher commented on #57
Yes, it looks like it's fixed in `HEAD`. But shouldn't that be an array initialization, rather than an empty string?

[2018-05-17 17:45] kaschioudi commented on #57
in this case, it doesn't really matter because this array goes straight to OTS.

[2018-05-17 17:59] asmecher commented on #57
You're right, it won't behave badly, this is just for clarity's sake. Running

    $var = '';
    $var[1] = 'something';

...will juggle `$var` from a string `''` into an array `['something']`, but it only behaves as expected because `$var` starts out as an empty string. If `$var` contains anything else, then `$var[1]` will be treated as a string index and you'll get a string with some contents re

[2018-05-28 14:28] kaschioudi commented on #57
fixed in `master` and `ojs-stable-3_1_0` branches.

[2018-05-28 14:28] #57 closed

[2018-06-05 17:56] kaschioudi commented on #7
Here's the PR:

https://github.com/kaschioudi/ojs3-markup/pull/58

[2018-06-08 20:34] asmecher opened #59 "Correct "galey" misspelling"
Should be "galley" throughout.

[2018-06-08 20:35] asmecher opened #60 "Convert line endings to *NIX"
...instead of DOS line endings in all code.

[2018-06-11 10:25] kaschioudi commented on #59
Updated. https://github.com/kaschioudi/ojs3-markup/pull/61

[2018-06-11 10:48] kaschioudi commented on #60
https://github.com/kaschioudi/ojs3-markup/pull/62

[2018-06-29 16:47] #60 closed

[2018-06-29 16:47] #59 closed

[2018-06-29 16:48] #41 closed

[2018-06-29 16:48] #46 closed

[2018-06-29 16:48] #7 closed

[2018-06-29 16:48] #24 closed

[2018-06-29 16:49] #47 closed

[2018-06-29 16:49] #52 closed

[2018-08-18 04:32] Jirrka opened #65 "Unable to fetch citation styles"
Hi, this topic is already here as a closed issue, I have the same problem, but I think that the reason is different.
So the problem is that I get message "Unable to fetch citation styles" when I open the OTS  Settings. In my browser log there is an error "blocked:mixed-content".  I run the web www.envigogika.cuni.cz which has only https access, but the link in Settings page is http:// . I havent f

[2018-08-19 04:08] Jirrka commented on #65
Additional information - I managed to enable "mixed content" allowed mode in Google Chrome and the plugin started to work

[2018-08-21 15:12] axfelix commented on #65
Thanks for this. The code that makes this request is in https://github.com/kaschioudi/ojs3-markup/blob/master/js/MarkupSettingsFormHandler.js#L57, and I don't see any hardcoding of HTTP vs. HTTPS, so it *should* be a server-side configuration issue, but if you think that request can be improved, I'm open to it.

[2018-08-22 08:01] Jirrka commented on #65
Well, I have only very basic knowledge of programming - maybe printscreen of the situation could help you.
![ots_psc](https://user-images.githubusercontent.com/7904197/44450855-4ac6a080-a5f2-11e8-962a-12dc34a52f85.jpg)

[2018-08-22 08:26] Jirrka commented on #65
I found the problem - it was just on the setup page of the plugin - there is the line "Open Typesetting Stack URL:" and there https:// must be used. It would be nice to use the https as default. I think two files have to be changed. I will make pull request.

[2018-10-16 09:29] vasmedv opened #67 "Is the plugin work on ojs-3.1.1-4"
I've installed plugin. and enable it. But "OTS Settings" isn't working. And there is no "convert to xml" option in submission files (in submission workflow stage).

[2018-10-16 14:23] axfelix commented on #67
OJS can sometimes be weird about plugin caching. Try disabling it, renaming the plugin folder to just "markup", and reenabling.

[2018-10-19 10:50] vasmedv commented on #67
Tried several times on different bases. On version ojs3.1.1-2 settings page is working, but on ojs3.1.1.4 is not working.

[2018-10-19 11:06] vasmedv commented on #67
OS platform | FreeBSD
PHP version | 7.2.10
Apache version | Apache/2.4.35 (FreeBSD) OpenSSL/1.0.2o-freebsd PHP/7.2.10 mod_klwi/2.4
Database driver | mysqli
Database server version | 5.7.23-log

[2018-10-22 07:41] vasmedv opened #68 "How to remove "Abstract", "Manuscript" and other additional information in xml or pdf"
When i've converted doc file to xml or pdf, plugin added some text to original text, which isn't needed. Can i convert one to one without additions?
Sample addition:
"Convert pdf Test
Abstract
Manuscript
Fed...
convert pdf Test
Convert pdf Test _
webadmin webadmin,
webadmin@....ru
Copyright (c)
Convert pdf Test ---
Convert pdf Test----"

[2018-10-22 08:50] vasmedv opened #69 "Can i remove addition information when converting doc to xml or pdf?"
When convert to xml, plugin add some strings of additional information. Can i make one to one convert without addition? Example addition:
"Convert pdf Test
Abstract
Manuscript
Федеральное госуда
бюджетное учрежде...
Convert pdf Test
Convert pdf Test _
webadmin webadmin,
webadmin@....ru
Copyright (c)
Convert pdf Test ---
Convert pdf Test----"

[2018-10-22 08:55] vasmedv opened #70 "Can i convert doc to xml or pdf ono to one without addition metadata information?"
When convert to xml, plugin add some strings of additional information. Can i make one to one convert without addition?

[2018-10-22 08:56] vasmedv commented on #70
Example addition:
"Convert pdf Test
Abstract
Manuscript
Fed...
Convert pdf Test
Convert pdf Test _
webadmin webadmin,
webadmin@....ru
Copyright (c)
Convert pdf Test ---
Convert pdf Test----"

[2018-10-22 16:25] axfelix commented on #68
Hi @vasmedv ,

The plugin carries forward metadata from your journal and inserts that into an article as front matter metadata. If your journal/article metadata is poor in OJS, you should edit it to reflect what you want your metadata to be!

[2018-10-22 16:26] axfelix commented on #68
And if you want to just use OTS on its own without OJS metadata, you can use it directly at http://pkp-xml-demo.lib.sfu.ca/

[2018-10-23 01:17] vasmedv commented on #68
Thank you for your answer. It would be better, for my opinion, to make an option in setting in which user can turn off insertion of metadata. We plan to use OTS only to make pdf galley from doc file from "Production Ready Files" in OJS. I don't think that metadata will be suitable for editors. And directly i can't use OTS site, because we want to use OTS plugin to avoid additional steps such as go

[2018-10-23 01:18] #69 closed

[2018-11-12 08:52] tormodstromme opened #71 "An unexpected error occured"
When running the plugin we get this message under Job status: An unexpected error occured.
From our log:
PHP Fatal error:  Uncaught exception 'Exception' with message 'Unable to fetch job status.' in  ..../plugins/generic/markup/classes/XMLPSWrapper.inc.php:195\nStack trace:
#0 ..../plugins/generic/markup/MarkupHandler.inc.php(484): XMLPSWrapper->getJobStatus(NULL)
#1 [internal function]: MarkupHa

[2018-11-13 19:26] axfelix commented on #71
Not a clear one, unfortunately, though I've seen reports of this before. It's possible that your server isn't making CURL requests to an OTS instance properly; I assume you have php-curl installed. At the moment we're trying to deprecate this plugin and get the OTS functionality and Texture functionality pulled out separately, so I can't investigate too much, but let me know here if you find anyth

[2019-02-08 11:20] djolemc commented on #67
Just to confirm this:
 On version ojs3.1.1-2 settings page is working, but on ojs3.1.1.4 is not working.

[2020-03-27 18:13] domjg85 commented on #67
This still seems to be an issue. I'm on OJS version 3.1.2.1. Same issue as described above - go to OTS settings and no content. Chrome debug gives me this error:

ncaught SyntaxError: Unexpected token < in JSON at position 1
    at Function.parse [as parseJSON] (<anonymous>)
    at a.pkp.controllers.TabHandler.dataFilter

I also had to add the optional parameters to the register method in the inc.

[2022-08-16 04:16] cbrito02 opened #72 "This plugin is still working"
How do I get the api key?